## 인구 소멸 지역 파악

소멸 지역 시각화, 카트토그램 표현

### 데이터 읽기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [3]:
population = pd.read_excel('D://data/07_population_raw_data.xlsx', header=1)
population.fillna(method='pad', inplace=True)
population.head()

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,전국,소계,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,전국,소계,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0
4,서울특별시,소계,남자인구수 (명),4876789.0,347534.0,372249.0,402358,410076.0,211568.0,163766.0,112076,54033.0,19595.0,6146.0,1900,1406.0

In [6]:
# 칼럼 이름 변경
population.rename(
    columns={'행정구역(동읍면)별(1)':'광역시도', '행정구역(동읍면)별(2)':'시도', '계':'인구수'}, inplace=True
)
population.head()

,광역시도,시도,항목,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,전국,소계,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,전국,소계,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0
4,서울특별시,소계,남자인구수 (명),4876789.0,347534.0,372249.0,402358,410076.0,211568.0,163766.0,112076,54033.0,19595.0,6146.0,1900,1406.0

In [9]:
# 소계는 필요가 없다
population = population[(population['시도'] != '소계')]

In [10]:
population.is_copy = False

population.rename(columns={'항목':'구분'}, inplace=True)

population.loc[population['구분'] == '총인구수 (명)', '구분'] = '합계'
population.loc[population['구분'] == '남자인구수 (명)', '구분'] = '남자'
population.loc[population['구분'] == '여자인구수 (명)', '구분'] = '여자'

population.head(10)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
11,서울특별시,중구,여자,63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0
12,서울특별시,용산구,합계,230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0
13,서울특별시,용산구,남자,111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0
14,서울특별시,용산구,여자,118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0
15,서울특별시,성동구,합계,299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0

### 소멸지역 조사를 위한 데이터 생성

In [12]:
population['20-39세'] = (
    population['20 - 24세']
    + population['25 - 29세']
    + population['30 - 34세']
    + population['35 - 39세']
)

population['65세 이상'] = (
    population['65 - 69세']
    + population['70 - 74세']
    + population['75 - 79세']
    + population['80 - 84세']
    + population['85 - 89세']
    + population['90 - 94세']
    + population['95 - 99세']
    + population['100+']
)

population.head(10)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+,20-39세,65세 이상
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0,44333.0,24950.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0,22222.0,10895.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0,22111.0,14055.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0,38184.0,20388.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0,19347.0,8852.0
11,서울특별시,중구,여자,63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0,18837.0,11536.0
12,서울특별시,용산구,합계,230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0,69448.0,35547.0
13,서울특별시,용산구,남자,111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0,34199.0,14866.0
14,서울특별시,용산구,여자,118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0,35249.0,20681.0
15,서울특별시,성동구,합계,299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0,95682.0,39140.0

In [13]:
# pivot table로 데이터 정리
pop = pd.pivot_table(
    population, index=['광역시도','시도'],
    columns=['구분'],
    values=['인구수', '20-39세', '65세 이상']
)
pop

            20-39세                       65세 이상                         인구수  \
구분              남자        여자        합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시   26286.0   23098.0   49384.0  15767.0  21912.0  37679.0  106231.0
     고성군    4494.0    2529.0    7023.0   2900.0   4251.0   7151.0   15899.0
     동해시   11511.0    9753.0   21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시    8708.0    7115.0   15823.0   5892.0   8718.0  14610.0   35253.0
     속초시    9956.0    8752.0   18708.0   5139.0   7613.0  12752.0   40288.0
...            ...       ...       ...      ...      ...      ...       ...
충청북도 진천군    9391.0    7622.0   17013.0   4731.0   6575.0  11306.0   36387.0
     청원구   32216.0   27805.0   60021.0   8417.0  11914.0  20331.0   97006.0
     청주시  128318.0  115719.0  244037.0  37882.0  53671.0  91553.0  419323.0
     충주시   26600.0   22757.0   49357.0  14407.0  20383.0  34790.0  104877.0
     흥덕구   40933.0   37675.0   78608.0   9788.0  13671.0  23459.0  127647.0


구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0
     고성군   14215.0   30114.0
     동해시   46131.0   93297.0
     삼척시   34346.0   69599.0
     속초시   41505.0   81793.0
...            ...       ...
충청북도 진천군   33563.0   69950.0
     청원구   93807.0  190813.0
     청주시  415874.0  835197.0
     충주시  103473.0  208350.0
     흥덕구  125916.0  253563.0

[264 rows x 9 columns]

In [14]:
# 소멸비율 계산  20-39세 여자 / (65세 이상 합계 / 2)
pop['소멸비율'] = pop['20-39세', '여자'] / (pop['65세 이상', '합계'] / 2)
pop.head()

           20-39세                     65세 이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041
     고성군   14215.0   30114.0  0.707314
     동해시   46131.0   93297.0  1.289738
     삼척시   34346.0   69599.0  0.973990
     속초시   41505.0   81793.0  1.372647

In [15]:
# 소멸비율로 소멸 위기 지역 체크도 가능
pop['소멸위기지역'] = pop['소멸비율'] < 1.0
pop.head()

           20-39세                     65세 이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율 소멸위기지역
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041  False
     고성군   14215.0   30114.0  0.707314   True
     동해시   46131.0   93297.0  1.289738  False
     삼척시   34346.0   69599.0  0.973990   True
     속초시   41505.0   81793.0  1.372647  False

In [17]:
# index 재생성
pop.reset_index(inplace=True)
pop.head()

   광역시도   시도   20-39세                     65세 이상                         인구수  \
구분                 남자       여자       합계       남자       여자       합계        남자
0   강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
1   강원도  고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
2   강원도  동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
3   강원도  삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
4   강원도  속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                            소멸비율 소멸위기지역
구분        여자        합계
0   107615.0  213846.0  1.226041  False
1    14215.0   30114.0  0.707314   True
2    46131.0   93297.0  1.289738  False
3    34346.0   69599.0  0.973990   True
4    41505.0   81793.0  1.372647  False

In [18]:
# 칼럼 정리
tmp_columns = [
    pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n]
    for n in range(0, len(pop.columns.get_level_values(0)))
]
pop.columns = tmp_columns
pop.head()

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세 이상남자,65세 이상여자,65세 이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원도,강릉시,26286.0,23098.0,49384.0,15767.0,21912.0,37679.0,106231.0,107615.0,213846.0,1.226041,False
1,강원도,고성군,4494.0,2529.0,7023.0,2900.0,4251.0,7151.0,15899.0,14215.0,30114.0,0.707314,True
2,강원도,동해시,11511.0,9753.0,21264.0,6392.0,8732.0,15124.0,47166.0,46131.0,93297.0,1.289738,False
3,강원도,삼척시,8708.0,7115.0,15823.0,5892.0,8718.0,14610.0,35253.0,34346.0,69599.0,0.973990,True
4,강원도,속초시,9956.0,8752.0,18708.0,5139.0,7613.0,12752.0,40288.0,41505.0,81793.0,1.372647,False